doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Campeonato Robotica 
        style.
            * { 
                padding: 0; 
                box-sizing: border-box; 
                font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                margin: 0;
            }
            #header {
                width: 100%;
                height: 80px;
                background-color: #4949c6;
                color: #fff;
                display: flex;
                align-items: center;
                padding-left: 30px;
            }     
            .navbar {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
            }
            .containerRight {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-right: 30px;
            }
            .containerRight > button {
                padding: 5px;
                background: #fff;
                border: none;
                border-radius: 15px;
                transition: background .3s ease;
                cursor: pointer;
            }
            .containerRight > button:hover {
                background: #babaf0;
            } 
            .titlePage {
                color: #fff;
                font-size: 32px;
                text-decoration: none;
                font-weight: bold;
            }      
            .titleContenedor {
                color: #4949c6;
                font-size: 35px;
                margin-bottom: 1.2rem;
                text-align: center;
                margin-top: 2rem;
            }
            form {
                width: 450px;
                padding: 8px;
                background-color: #4949c6;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: auto;                
            }
            form > input {
                outline: none;
                padding: 12px;
                width: 280px;
                border: none;
                border-radius: 8px;
                margin-bottom: 1rem;
            }

            form > button {
                outline: none;
                padding: 8px;
                width: 90px;
                border: none;
                border-radius: 8px;
                color:  #4949c6;
                cursor: pointer;
                font-weight: 500;
            }
        script(type='text/javascript').
            const checkRol = JSON.parse(localStorage.getItem('usuario'));
            if(!checkRol?.logeado) window.location.replace('/login');
            if(checkRol?.rol !== 'admin') window.location.replace('/');


    body 
        header#header   
            .navbar 
                a.titlePage(href='/') Campeonato Robotica 
                .containerRight
                    p   Bienvenido 
                        script document.write(checkRol.nombre)
                    button#logoutBtn Cerrar sesion                 
        h2.titleContenedor Registrar Patrocinador
        form(action='http://localhost:3000/api/registrar-patrocinante' method='post' target='_blank')
            input#POST-name(type='text' required name='nombrePatrocinador' placeholder="Ingrese nombre del Patrocinador")
            input#POST-name(type='text' required name='estadoUbicacion' placeholder="Ubicacion: Trujilo, Valera, plata 3")           

            button Guardar
        script(src="./js/logout.js")

        
         
